body {
  margin: 0;
}

.app {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding-bottom: 80px;
  background: #fff;
  overflow-x: hidden;
}

.header {
  height:60px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-bottom:1px solid #f1f1f1;
}

.home-section {
  padding: 0 16px;
  margin-top: 20px;
}

.logo img {
  height: 20px;
  display: block;
}

.header-icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-icons button {
  border: 0;
  background: none;
  padding: 0;
}

.header-icons img {
  width: 30px;
  height: 30px;
  display: block;
  object-fit: contain;
}

.alarm-btn {
  position: relative;
}

.notification-dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #FF6B57;
  position: absolute;
  top: 4px;
  right: 3px;
}

.bottom-nav {
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 100%;
  max-width: 768px;
  height: 78px;
  background: #fff;
  border-top: 1px solid #eee;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  z-index: 100;
}

.bottom-nav button {
  border: none;
  background: none;
  font-size: 11px;
  color: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 0;
}

.bottom-nav img {
  width: 26px;
  height: 26px;
  object-fit: contain;
  display: block;
}

.bottom-nav span {
  line-height: 1;
  margin-top:2px;
  font-size:11px;
}


/* ===== Tablet ===== */
@media (min-width: 768px) {
  .app {
    max-width: 900px;
    padding-bottom: 0;
  }

  .bottom-nav {
    display: none;
  }

   .home-section {
    padding: 0 32px;
    margin-top: 40px;
  }
}


/* ===== PC ===== */
@media (min-width: 1024px) {
  .app {
    max-width: none;
    padding-bottom: 0;
  }

  .home-section {
    max-width: 1200px;
    margin: 56px auto 0;
    padding: 0 40px;
  }
}
